* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

body {
  background: #e0e1fb;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 10rem;
  gap: 3rem;
}

section h1 {
  color: #400081;
  text-align: center;
  font-size: 3rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

section h1 span {
  color: #6100ff;
  text-align: center;
  font-size: 3rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

section h2 {
  color: #000;
  text-align: center;
  font-size: 2rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

section h2 span {
  color: #6100ff;
}

section p {
  max-width: 64.6875rem;
  color: #400081;
  text-align: center;
  font-size: 1.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

section ol {
  margin-top: 5rem;
  max-width: 64.6875rem;
  color: #400081;
  text-align: start;
  font-size: 1.5rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button {
  color: #fff;
  text-align: center;
  font-size: 2.375rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: #8000ff;
  padding: 1rem 2.5rem;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  section h1 {
    max-width: 43.4375rem;
    color: #400081;
    text-align: center;
    font-size: 3rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 3rem 4rem;
  }
  img {
    width: 20.8415rem;
    height: 3.43956rem;
  }
  section h1 {
    width: 22.4375rem;
    color: #400081;
    text-align: center;
    font-size: 2rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
  }
  section h1 span {
    font-size: 2rem;
  }
  section h2 {
    font-size: 1.5rem;
    width: 22.4375rem;
  }
  button {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background: #8000ff;
    padding: 1rem 2.5rem;
    border: none;
  }
  section p {
    width: 20.6875rem;
    color: #400081;
    text-align: center;
    font-size: 1.2rem;
    font-family: Inter;
    line-height: 150.523%;
    font-style: normal;
    font-weight: 600;
  }

  section ol {
    margin-top: 5rem;
    width: 19.6875rem;
    color: #400081;
    text-align: start;
    padding-top: 3rem;
    margin: auto;
    font-size: 1.2rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  section ol li {
    padding-top: 2rem;
  }
}
